<div id="post-{{id}}" class="card">
    <img class="card-image" src="/{{thumbnail}}">
    <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <a href="/post/{{id}}" class="anchor-buttons">Post Details</a>
    </div>  
</div>